<!-- Write necessary code-->
<div class="login-view-wrapper custom-container">
  <div class="login-view">
    <div class="logo-wrapper">
      <h2 >SIGN UP</h2>
    </div>
    <div class="login-form-wrapper" >
      <form class="ro-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="labelHead" for="username">
            <b>Username</b>
          </label>
          <input type="text" id="username" placeholder="username" formControlName="userName">

          <div class="form-error-messages"
            id="error-no-username" *ngIf="signupForm.get('userName').hasError('required')">
            {{emptyUserName}}
          </div>
          <div class="form-error-messages"
            id="error-minlength-username" *ngIf="signupForm.get('userName').hasError('minlength')">
            {{minlengthUserName}}
          </div>
          <div class="form-error-messages"
            id="error-maxlength-username" *ngIf="signupForm.get('userName').hasError('maxlength')">
            {{maxlengthUserName}}
          </div>
          <div class="form-error-messages"
            id="error-pattern-username" *ngIf="signupForm.get('userName').hasError('pattern')">
            {{userNamePattern}}
          </div>
        </div>
        <div class="form-group">
          <label class="labelHead" for="password">
            <b>Password</b>
          </label>
          <input type="password" id="password" placeholder="password" formControlName="password">
          <div class="form-error-messages"
            id="error-no-password" *ngIf="signupForm.get('password').hasError('required')">
            {{emptyPassword}}
          </div>
          <div class="form-error-messages"
            id="error-minlength-password" *ngIf="signupForm.get('password').hasError('minlength')">
            {{minlengthPassword}}
          </div>
          <div class="form-error-messages"
            id="error-maxlength-password" *ngIf="signupForm.get('password').hasError('maxlength')">
            {{maxlengthPassword}}
          </div>
          <div class="form-error-messages"
            id="error-pattern-password" *ngIf="signupForm.get('password').hasError('pattern')">
            {{passwordPattern}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="mobile">
            Contact number
          </label>
          <input type="number" value="" id="mobile" placeholder="mobile number" formControlName="mobile">
          <div id="error-mobile" class="form-error-messages" *ngIf="signupForm.get('mobile').invalid">
            {{mobileErrMsg}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="email">
            Email
          </label>
          <input type="email" value="" id="email" placeholder="Email" formControlName="email">
          <div id="error-email" class="form-error-messages" *ngIf="signupForm.get('email').invalid">
            {{emailErrMsg}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="location">
            Location
          </label>
          <input type="text" value="" id="location" placeholder="Location" formControlName="location">
          <div id="error-location" class="form-error-messages" *ngIf="signupForm.get('location').invalid">
            {{locationErrMsg}}
          </div>
        </div>

        <div class="col-sm-12 clmn12">
          <!-- call goBack method when clicking on this button-->
        	<button id="back" class="guest-btn" (click)="goBack()">Back</button>
          <!-- disable button if form not valid -->
          <!-- call signUp method when clicking on this button-->
          <button id="signup" class="login-btn" type="submit">Create Account</button>
        </div>

      </form>
    </div>
  </div>
</div>