<!-- Write necessary code-->
<div class="login-view-wrapper custom-container">
  <div class="login-view">
    <div class="logo-wrapper">
      <img src="./../assets/login.png" width="100" height="100">
      <h2>LOGIN</h2>
    </div>
    <div class="login-form-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ro-form">
        <div class="form-group">
          <label class="labelHead" for="username">
            <b>Username</b>
          </label>
          <input type="text" id="username" placeholder="username" formControlName="userName">

          <div class="form-error-messages" id="error-no-username"
            *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').hasError('required')">
            {{emptyUserName}}
          </div>
          <div class="form-error-messages" id="error-minlength-username"
            *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').hasError('minlength')">
            {{minlengthUserName}}
          </div>
          <div class="form-error-messages" id="error-maxlength-username"
            *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').hasError('maxlength')">
            {{maxlengthUserName}}
          </div>
          <div class="form-error-messages" id="error-pattern-username"
            *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').hasError('pattern')">
            {{userNamePattern}}
          </div>
        </div>
        <div class="form-group">
          <label class="labelHead" for="password">
            <b>Password</b>
          </label>
          <input type="password" id="password" placeholder="password" formControlName="password">
          <div *ngIf="loginForm.get('password').dirty">
            <div class="form-error-messages" id="error-no-password"
              *ngIf="loginForm.get('password').hasError('required')">
              {{emptyPassword}}
            </div>
            <div class="form-error-messages" id="error-minlength-password"
              *ngIf="loginForm.get('password').hasError('minlength')">
              {{minlengthPassword}}
            </div>
            <div class="form-error-messages" id="error-maxlength-password"
              *ngIf="loginForm.get('password').hasError('maxlength')">
              {{maxlengthPassword}}
            </div>
            <div class="form-error-messages" id="error-pattern-password"
              *ngIf="loginForm.get('password').hasError('pattern')">
              {{passwordPattern}}
            </div>
          </div>
        </div>

        <div class="col-sm-12 clmn12">

          <!-- disable button if form not valid -->
          <!-- call doLogin method when clicking on this button-->
          <button id="loginBtn" class="login-btn" type="submit" [disabled]="loginForm.invalid">Login</button>

          <!-- call signUp method when clicking on this button-->
          <button id="signupBtn" class="guest-btn" (click)="signUp()">Sign up</button>
        </div>

      </form>
    </div>
  </div>
</div>